{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="grouplist-custom-container ps-pe-0 ms-me-0" style="background-color: rgb(95, 19, 99);">
    <div class="container main" style="background-color: rgb(95, 19, 99);">
        
        <h1 class="sent text-center">groups</h1>
    </div>
    <div class="container-fluid second ps-pe-0 ms-me-0 w-100">
        
            <div class="search"><i class="bi bi-search fs-1"></i></div>      
        <h2 class="pb-2">A</h2>
        <div class="grouplist-friends">
            <img src="https://via.placeholder.com/60" alt="Profile Image" class="image">
            <div class="name">
                <h4>Afrin Sabile</h4>
                
            </div>
            <div class="group-actions">
                <i class="bi bi-chat-dots"></i>
                <i class="bi bi-telephone"></i>
                <i class="bi bi-camera-video"></i>
                

            </div>
        </div>
        <div class="grouplist-friends">
            <img src="https://via.placeholder.com/60" alt="Profile Image" class="image">
            <div class="name">
                <h4>Afrin Sabile</h4>
                
            </div>
            <div class="group-actions">
                <i class="bi bi-chat-dots"></i>
                <i class="bi bi-telephone"></i>
                <i class="bi bi-camera-video"></i>
            </div>
        </div>
        <div class="grouplist-friends">
            <img src="https://via.placeholder.com/60" alt="Profile Image" class="image">
            <div class="name">
                <h4>Afrin Sabile</h4>
                
            </div>
            <div class="group-actions">
                <i class="bi bi-chat-dots"></i>
                <i class="bi bi-telephone"></i>
                <i class="bi bi-camera-video"></i>
            </div>
        </div>
        <div class="grouplist-friends">
            <img src="https://via.placeholder.com/60" alt="Profile Image" class="image">
            <div class="name">
                <h4>Afrin Sabile</h4>
                
            </div>
            <div class="group-actions">
                <i class="bi bi-chat-dots"></i>
                <i class="bi bi-telephone"></i>
                <i class="bi bi-camera-video"></i>
            </div>
        </div>
    </div>
    {% include "components/footer_nav.html" %}

</div>
{% endblock content %}
