{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <div class="add-payment-container container fw-bold">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <a href="{% url 'payment_methods' %}"><i class="bi bi-arrow-left" style="font-size: x-large;color: black;"></i></a>
            <!-- <button class="btn btn-light">Done</button> -->
        </div>
        <h2 class="text-center fs-1 text-md-start">Add Credit Card</h2>

        <form>
            <div class="form-group">
                <label for="cardName">Name on Card</label>
                <input type="text" class="form-control" id="cardName" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="cardNumber">Credit Card Number</label>
                <input type="text" class="form-control" id="cardNumber" placeholder="1234 5678 9123 4567">
            </div>
            <button type="button" class="scan-button">
                <i class="bi bi-upc-scan"></i>Scan Card
            </button>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="expiryDate">Expiration Date</label>
                    <input type="text" class="form-control" id="expiryDate" placeholder="MM/YY" maxlength="5" pattern="\d{2}/\d{2}" required>
                    <small class="form-text text-muted">Enter expiration date in MM/YY format.</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="cvv">CVV</label>
                    <input type="number" class="form-control" id="cvv" placeholder="123" maxlength="4" pattern="\d{3,4}" required>
                    <small class="form-text text-muted">Enter a 3 or 4 digit CVV.</small>
                </div>
            </div>
            
            <p><small>Debit cards are accepted at some locations and for some categories.</small></p>
            
            <div class="payment-method-icons">
                <img src="{% static 'images/svgicons/visa.svg' %}" alt="Visa">
                <img src="{% static 'images/svgicons/american-express.svg' %}" alt="American Express">
                <img src="{% static 'images/svgicons/rupay.svg' %}" alt="Rupay">
                <img src="{% static 'images/svgicons/mastercard.svg' %}" alt="MasterCard">
            </div>
            <button type="submit" class="btn add-payment-btn-purple  btn-block my-4" style="text-transform: uppercase;">Add Payment Method</button>
        </form>
    </div>

    {% endblock content %}