{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="login-custom-container container-fluid">
<div class="container login-container ">
    <form>
        <h3 class="text-center mb-3">Login</h3>
        <div class="mb-1">
            <label for="email" class="form-label">Email/Mobile</label>
            <input type="email" class="form-control" id="email" placeholder="Value">
        </div>
        
        <div class="mb-1">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Value">
        </div>
        

        <div class="d-grid gap-2">
            <button type="submit" class="btn login-btn-custom btn-primary-custom my-3 ">Login</button>
        </div>
        <p><small>Forgot password?</small></p>
        <p class="">dont have an account? <a href="{% url "signup" %}" class="link-custom">Signup</a></p>
    </form>
    <a href="{% url 'profession' %}">profession -></a>
</div>

</div>
{% endblock content %}
